body {
    background: #f7c2f9;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 0 auto;
  }

  .recipes{
    width: 400px;
    background: #fff;
    margin: 16px auto;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
    padding-bottom: 8px;

  }

  .content {
    background: #e3f4ff;
    padding:16px 8px;
    margin-top: 8px;
    margin-bottom: 8px;
    font-family: Garamond;
    font-weight: bold;
    
  }
  h1{
    font-family: Garamond;
    text-align: center;
  }
  
  h2,h3{
    font-family: Garamond;
    color: #2a042c;
    text-align: center;
    font-size: 24px;
  }
  #text{
    font-family: Garamond;
    font-size: 18px;
    font-weight:lighter;
  }

  button {
    background: white;
    border: 1px solid #eee;
    display: block;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 8px;
    padding-bottom: 8px;
    margin: 0 auto;
  }

  .button-container {
    text-align: center;
    padding:8px;
    
  }
  .images{
    margin-left: auto;
  }
  p{
    font-family: Garamond;
    font-weight: bold;
  }
  #right{
    font-size: 18px;
  }
